In [3]:
import pandas as pd

# Create the data
data = {
    "User name": ["Nathalie", "John", "Marc", "Oliver", "Matthew", "Bill"],
    "The Matrix": [2, None, 3, None, None, 1],
    "Once": [3, 2, None, 3, None, 4],
    "Spiderman": [2, None, 3, None, None, 3],
    "Peter Pan": [None, 4, None, 4, None, 4],
    "X-Men": [None, 3, 4, 3, 2, None]
}

# Create a DataFrame
df = pd.DataFrame(data)

df

  User name  The Matrix  Once  Spiderman  Peter Pan  X-Men
0  Nathalie         2.0   3.0        2.0        NaN    NaN
1      John         NaN   2.0        NaN        4.0    3.0
2      Marc         3.0   NaN        3.0        NaN    4.0
3    Oliver         NaN   3.0        NaN        4.0    3.0
4   Matthew         NaN   NaN        NaN        NaN    2.0
5      Bill         1.0   4.0        3.0        4.0    NaN

In [4]:
# Define the file path
file_path = "../data/csv/simple_user_movie_ratings.csv"

# Save as CSV
df.to_csv(file_path, index=False)

file_path

'../data/csv/simple_user_movie_ratings.csv'